In [26]:
import os
import re
import time
import datetime
import requests
import pickle
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup
from IPython.display import clear_output
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

In [35]:
df = pd.read_excel('info.xlsx')
orin = pd.read_csv('players_search_list.csv',header=None)

fir = []
las = []
row , col = df.shape
for i in range((row)):
    try:
        f, n = orin[1][i].split()
    except:
        ss = orin[1][i].split()
        if len(ss) == 3:
            f = ss[0] + ' ' + ss[1]
            n = ss[2]
        else:
            f = ss[0]
            n = ss[0]
    fir.append(f)
    las.append(n)
    
df['FirstName'] = pd.Series(fir)
df['LastName'] = pd.Series(las)

In [6]:
df = pd.read_excel('Helloworld.xlsx')

In [7]:
row, col = df.shape

In [8]:
row,col
df.to_csv('hello.csv')

In [19]:
count = 0 
for i in range(row):
    print(df.當年度獎項次數[i],count)
    if 'Career' not in df.Season[i] :
        count += int(df.當年度獎項次數[i])
    else:    
        df.當年度獎項次數[i] = count
        count = 0

In [21]:
df.to_excel('bbb.xlsx')

In [134]:
df = pd.read_excel('QQQ.xlsx')

In [139]:
for i in range(row):
    try:
        if '-' in df.From[i] :
            try:
                df.From[i] = df.From[i].split['-'][0]
                df.To[i] = df.From[i].split['-'][1]
            except:
                pass
    except:
        pass

In [140]:
df.to_excel('Finallll.xlsx')

In [30]:
df.to_csv('ccc.csv')

In [35]:
pd.read_csv('ccc.csv').to_excel('dd.xlsx')

In [36]:
for i in range(row):
    if 'Career' in df.Season[i] :
        df.年資[i] = df.年資[i-1]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [155]:
df  = pd.read_excel('Finallll.xlsx')

0        2011
1        2011
2        2011
3        2011
4        2011
5        2011
6        2011
7        2011
8        2011
9        2011
10       2011
11       2011
12       2011
13       2011
14       2011
15       2006
16       2006
17       2006
18       2006
19       2015
20       2015
21       2015
22       2015
23       2018
24       2018
25       2006
26       2006
27       2006
28       2006
29       2006
         ...
33863    2017
33864    2017
33865    2003
33866    2003
33867    2003
33868    2003
33869    1992
33870    1992
33871    1992
33872    2000
33873    2000
33874    2001
33875    2001
33876    2001
33877    2001
33878    2001
33879    2001
33880    2001
33881    2001
33882    2001
33883    2001
33884    2001
33885    2001
33886    2001
33887    2001
33888    2001
33889    2001
33890    2001
33891    2001
33892    2001
Name: To, Length: 33893, dtype: object

In [109]:
df.To

In [169]:
players_list = pd.read_csv('player_my_df.csv')
player_name = list(players_list['1'])

k = 0 
row , col = df.shape
result = pd.DataFrame(columns=['是否入圍全明星','當年度獎項次數', '當年度獎項YN'])
all_series = []

for i in range(row):
    k+= 1
    all_series.append(df.Season[i])
    
    if df.Season[i] == 'Career':
        small_df = pd.DataFrame()
        r = k
        k = 0
        if df.FirstName[i] == df.LastName[i]:
            n = df.FirstName[i]
        else:
            n =  df.FirstName[i] + ' ' + df.LastName[i]

        try:
            a = player_name.index(n)
        except:
            for j in range(len(player_name)):
                if n in player_name[j]:
                    a = j
                    break
    
           ## Hall of Fame ##
        if(award[0]):
            small_df['名人堂']= pd.Series([1]*r)
        else:
            small_df['名人堂']= pd.Series([0]*r)

        ## Foreigner ##
        if(award[3]):
            small_df['外籍球員']= pd.Series([1]*r)
        else:
            small_df['外籍球員']= pd.Series([0]*r)
            award = data[a]
            
         ## Column initialization ##
        small_df['是否入圍全明星'] = pd.Series([0]*r)
        small_df['當年度獎項次數'] = pd.Series([0]*r)
        small_df['當年度獎項YN'] = pd.Series([0]*r)

        ## List all season ##
#         all_series = list(small_df.iloc[:,0])
        for m in range(len(award[2])):
            for n in range(len(all_series)):
                if(award[2][m] == all_series[n]):
                    small_df['是否入圍全明星'][n] = 1
                    small_df['當年度獎項YN'][n] = 1
                    
                    small_df['當年度獎項YN'][r-1] = 1

        for m in range(len(award[1])):
            for n in range(len(all_series)):
                if(award[1][m] == all_series[n]):
                    small_df['當年度獎項次數'][n] += 1
                    small_df['當年度獎項YN'][n] = 1

                    ## Career get the award or not
                    small_df['當年度獎項YN'][r-1] = 1


        ## Count the award throught out all the career ## 
        ## The player may have the transfer to another 
        for m in range(r-1):
            if m != 0 and all_series[m-1] != all_series[m]:
                small_df['當年度獎項次數'][r-1] += small_df['當年度獎項次數'][m]
                small_df['是否入圍全明星'][r-1] += small_df['是否入圍全明星'][m]
            elif m == 0:
                small_df['當年度獎項次數'][r-1] += small_df['當年度獎項次數'][m]
                small_df['是否入圍全明星'][r-1] += small_df['是否入圍全明星'][m]
                
        ## Combine the dataframe ##
        result = pd.concat([result,small_df],axis=0,join='outer',ignore_index=True,sort=False)
        all_series = []

In [170]:
result

      是否入圍全明星 當年度獎項次數 當年度獎項YN
0           0       1       1
1           0       0       0
2           0       0       0
3           0       0       0
4           0       0       0
5           1       0       1
6           0       0       0
7           1       0       1
8           0       0       0
9           0       0       0
10          0       0       0
11          0       0       0
12          0       0       0
13          0       0       0
14          2       1       1
15          0       0       0
16          0       0       0
17          0       0       0
18          0       0       0
19          0       0       0
20          0       0       0
21          0       0       0
22          0       0       0
23          0       0       0
24          0       0       0
25          0       0       0
26          0       0       0
27          0       0       0
28          0       0       0
29          0       0       0
...       ...     ...     ...
33863       0       0       0
33864       0       0       0
33865       0       0       0
33866       0       0       0
33867       0       0       0
33868       0       0       0
33869       0       0       0
33870       0       0       0
33871       0       0       0
33872       0       0       0
33873       0       0       0
33874       0       0       0
33875       0       0       0
33876       0       0       0
33877       0       1       1
33878       1       0       1
33879       0       0       0
33880       0       0       0
33881       0       0       0
33882       0       0       0
33883       0       0       0
33884       0       0       0
33885       0       0       0
33886       0       0       0
33887       0       0       0
33888       0       0       0
33889       0       0       0
33890       0       0       0
33891       0       0       0
33892       1       1       1

[33893 rows x 3 columns]

In [171]:
#result.shape
len(result)
colname = result.columns
for i in range(len(colname)):
    print(df[colname[i]])
    df[colname[i]] = result[colname[i]]

0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       2
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
33863    0
33864    0
33865    0
33866    0
33867    0
33868    0
33869    0
33870    0
33871    0
33872    0
33873    0
33874    0
33875    0
33876    0
33877    0
33878    1
33879    0
33880    0
33881    0
33882    0
33883    0
33884    0
33885    0
33886    0
33887    0
33888    0
33889    0
33890    0
33891    0
33892    1
Name: 是否入圍全明星, Length: 33893, dtype: object
0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
33863    0
33864    0
33865    0
33866    0
33867    0
33868    0
33869    0
33870    0
33871    0
33872    0
33873    0
33874    0
33875    0
33876    0
33877    1
33878    0
33879    0
33880    0
33881    0
33882    0
33883    0
33884    0
33885    0
33886    0
33887    0
33888    0
33889    0
33890    0
33891    0
33892    1
Name: 當年度獎項次數, Length: 33893, dtype: object
0        1
1        0
2        0
3        0
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
33863    0
33864    0
33865    0
33866    0
33867    0
33868    0
33869    0
33870    0
33871    0
33872    0
33873    0
33874    0
33875    0
33876    0
33877    1
33878    1
33879    0
33880    0
33881    0
33882    0
33883    0
33884    0
33885    0
33886    0
33887    0
33888    0
33889    0
33890    0
33891    0
33892    1
Name: 當年度獎項YN, Length: 33893, dtype: object

In [172]:
df.to_excel('QQQQQ.xlsx')

In [28]:
players_list = pd.read_csv('player_my_df.csv')
player_name = players_list['1']

In [45]:
a = list(reversed(df['FirstName'] + " " +  df['LastName'] ))
name = []
for i in range(len(a)):
    if i != 0 and a[i] == a[i-1]:
        continue
    else:
        name.append(a[i])
#players_list
len(name)
len(player_name)

5144

In [50]:
absence = list(set(player_name) - set(name))

In [65]:
player_name = list(player_name)
player_name.index('Nene')

3719

In [63]:
player_name.index('A.C. Green')

TypeError: 'RangeIndex' object is not callable

In [64]:
type(player_name)

pandas.core.series.Series

In [82]:
len(data),len(player_name)

(5144, 5144)

In [95]:
len(players_list)

5143

In [98]:
players_list = pd.read_csv('players_search_list.csv')

In [ ]:
players_list

In [103]:
a = pd.read_csv('player_my_df.csv')
a.shape

(5144, 8)

In [129]:
df.to_excel('test.xlsx')

In [154]:
cols = df.columns.tolist()
cols = cols[-15:] + cols[:-15]
cols = ['FirstName', 'LastName', 'From', 'To',\
        '位置', '呎', '吋', '磅', 'Colleges','出生年', '出生月', \
        '出生日', '選秀順位','名人堂' , '當年度獎項次數', '當年度獎項YN' , '是否入圍全明星','外籍球員', '年資', \
        'Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP',\
        'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',\
        'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
ss = df[cols]
ss.to_excel('QQQQQ.xlsx')

In [141]:
df

,FirstName,LastName,From,To,位置,呎,吋,磅,Colleges,出生年,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.762,3.4,5.4,8.8,0.9,0.6,1.6,1.8,3.5,13.9
1,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.600,3.4,5.4,8.8,0.8,0.8,1.4,1.8,4.8,15.2
2,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.679,2.7,4.0,6.7,0.8,0.6,1.5,2.5,3.3,11.7
4,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.754,2.2,3.2,5.4,1.1,0.3,1.4,1.5,3.0,11.1
5,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.781,3.0,4.6,7.5,1.6,0.7,1.9,2.6,3.4,17.2
6,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.746,3.4,4.6,8.1,1.3,0.5,2.5,2.0,3.4,15.3
7,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.799,3.8,4.8,8.6,1.3,0.7,2.1,2.4,4.0,16.9
8,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.834,3.1,4.4,7.6,1.2,0.5,1.7,2.0,3.6,15.6
9,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.807,3.1,4.6,7.7,1.6,0.6,1.3,1.8,3.3,11.9
10,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.802,3.6,5.7,9.3,1.4,0.5,1.6,1.8,3.4,14.1
11,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.799,2.4,5.1,7.5,1.0,0.4,1.3,1.4,2.8,12.9
12,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.743,1.8,3.6,5.4,0.8,0.2,0.8,1.0,2.9,7.4
13,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.783,1.5,2.5,4.0,0.4,0.3,0.8,0.7,2.6,5.0
14,Zydrunas,Ilgauskas,1998,2011,C,7,3,238,-,1975,...,0.780,2.9,4.4,7.3,1.1,0.5,1.6,1.8,3.3,13.0
15,Zoran,Planinic,2004,2006,PG-SG,6,7,195,-,1982,...,0.633,0.3,0.8,1.1,1.4,0.3,0.1,0.7,1.4,3.1
16,Zoran,Planinic,2004,2006,PG-SG,6,7,195,-,1982,...,0.697,0.4,1.2,1.6,1.0,0.6,0.0,1.0,1.8,5.0
17,Zoran,Planinic,2004,2006,PG-SG,6,7,195,-,1982,...,0.697,0.3,1.1,1.3,0.9,0.4,0.1,0.8,1.6,3.4
18,Zoran,Planinic,2004,2006,PG-SG,6,7,195,-,1982,...,0.677,0.3,1.0,1.3,1.1,0.4,0.0,0.8,1.6,3.8
19,Zoran,Dragic,2015,2015,SG,6,5,200,-,1989,...,0.600,0.3,0.2,0.5,0.3,0.1,0.0,0.3,0.4,1.8
20,Zoran,Dragic,2015,2015,SG,6,5,200,-,1989,...,0.667,0.3,0.2,0.5,0.2,0.0,0.0,0.0,0.2,1.0
21,Zoran,Dragic,2015,2015,SG,6,5,200,-,1989,...,0.500,0.3,0.2,0.5,0.4,0.2,0.0,0.5,0.5,2.2
22,Zoran,Dragic,2015,2015,SG,6,5,200,-,1989,...,0.600,0.3,0.2,0.5,0.3,0.1,0.0,0.3,0.4,1.8
23,Zhou,Qi,2018,2018,C,7,1,210,-,1996,...,0.667,0.3,0.9,1.2,0.1,0.1,0.8,0.6,0.8,1.2
24,Zhou,Qi,2018,2018,C,7,1,210,-,1996,...,0.667,0.3,0.9,1.2,0.1,0.1,0.8,0.6,0.8,1.2
25,Zendon,Hamilton,2001,2006,C-PF,6,11,250,St. John's University,1975,...,0.625,1.0,1.7,2.7,0.0,0.0,0.0,0.7,1.3,3.0
26,Zendon,Hamilton,2001,2006,C-PF,6,11,250,St. John's University,1975,...,0.652,2.0,2.6,4.7,0.3,0.4,0.3,1.1,1.9,6.0
27,Zendon,Hamilton,2001,2006,C-PF,6,11,250,St. John's University,1975,...,1.000,0.3,1.0,1.3,0.0,0.3,0.0,0.3,0.7,2.0
28,Zendon,Hamilton,2001,2006,C-PF,6,11,250,St. John's University,1975,...,0.698,1.1,2.1,3.2,0.3,0.2,0.2,0.6,1.6,3.7
29,Zendon,Hamilton,2001,2006,C-PF,6,11,250,St. John's University,1975,...,0.604,1.1,1.5,2.6,0.4,0.3,0.1,0.8,1.6,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33863,A.J.,Hammons,2017,2017,C,7,0,260,Purdue University,1992,...,0.450,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2
33864,A.J.,Hammons,2017,2017,C,7,0,260,Purdue University,1992,...,0.450,0.4,1.3,1.6,0.2,0.0,0.6,0.5,1.0,2.2
33865,A.J.,Guyton,2001,2003,PG,6,1,180,Indiana University,1978,...,0.833,0.3,0.8,1.1,1.9,0.3,0.2,0.7,1.1,6.0
33866,A.J.,Guyton,2001,2003,PG,6,1,180,Indiana University,1978,...,0.815,0.3,0.7,1.0,1.8,0.2,0.2,0.8,0.5,5.4
33867,A.J.,Guyton,2001,2003,PG,6,1,180,Indiana University,1978,...,NaN,0.0,0.0,0.0,1.0,0.5,0.0,0.5,0.0,0.0
33868,A.J.,Guyton,2001,2003,PG,6,1,180,Indiana University,1978,...,0.822,0.3,0.7,1.0,1.8,0.3,0.2,0.8,0.7,5.5
33869,A.J.,English,1991,1992,SG,6,3,175,Virginia Union University,1967,...,0.707,0.9,1.2,2.1,2.5,0.4,0.2,1.6,1.8,8.8
33870,A.J.,English,1991,1992,SG,6,3,175,Virginia Union University,1967,...,0.841,0.9,1.2,2.1,1.8,0.4,0.1,1.1,2.0,10.9
33871,A.J.,English,1991,1992,SG,6,3,175,Virginia Union University,1967,...,0.778,0.9,1.2,2.1,2.1,0.4,0.2,1.3,1.9,9.9
33872,A.J.,Bramlett,2000,2000,C,6,10,227,University of Arizona,1977,...,NaN,1.5,1.3,2.8,0.0,0.1,0.0,0.4,1.6,1.0
33873,A.J.,Bramlett,2000,2000,C,6,10,227,University of Arizona,1977,...,NaN,1.5,1.3,2.8,0.0,0.1,0.0,0.4,1.6,1.0
33874,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.611,2.0,2.7,4.6,0.7,0.6,0.6,1.2,2.8,6.4
33875,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.780,2.7,5.1,7.8,1.1,0.9,1.0,1.3,2.2,10.8
33876,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.773,3.0,5.7,8.7,1.1,1.1,0.5,1.5,2.5,11.4
33877,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.786,3.1,5.9,9.0,1.3,1.1,0.7,1.5,2.1,13.3
33878,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.751,3.2,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9
33879,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.738,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1
33880,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.744,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6
33881,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.739,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8
33882,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.735,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7
33883,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.732,2.4,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2
33884,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.709,2.0,4.7,6.8,0.9,0.5,0.3,1.0,1.7,7.5
33885,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.650,2.7,5.2,7.9,0.8,0.8,0.2,0.9,1.7,7.2
33886,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.646,1.2,3.9,5.1,0.6,0.7,0.0,0.7,1.3,5.7
33887,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.651,3.4,5.9,9.3,0.9,0.9,0.3,1.0,2.0,7.9
33888,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.716,2.7,5.5,8.1,1.5,1.0,0.3,0.8,1.9,7.3
33889,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.577,1.6,2.9,4.6,0.5,0.6,0.2,0.4,1.4,4.9
33890,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.695,2.0,4.0,5.9,1.0,0.6,0.2,0.6,1.5,5.0
33891,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.712,1.3,2.5,3.8,0.5,0.4,0.1,0.5,1.5,4.5
33892,A.C.,Green,1986,2001,PF-SF,6,9,220,Oregon State University,1963,...,0.734,2.6,4.8,7.4,1.1,0.8,0.4,1.1,1.9,9.6